extends layout

block content
    .container
        h1 About Us
        p This is some random text bla bla
        ul
            li Item 1
            li Item 1
            li Item 1
        p More Random text....